extends layout

block customHead
  link(rel='stylesheet', href='/stylesheets/manage.css')

block content
  div.manage
    div.easylinks
      ul
        li: a(href='/') Home
        li: a(href='/manage') Manage
        li: a(href='/parse') Parse

    div.container
      h1= title
      div.block
        h3 Info
        ul
          li Date:
            span #{date}
          li Week:
            span #{week}

      div.block
        h3 Database statistics
        ul
          li Groups:
            span #{count.groups}
            a(href='/manage/clear/groups' onclick='return confirm("Clear all groups?");') clear
          li Teachers:
            span #{count.teachers}
            a(href='/manage/clear/teachers' onclick='return confirm("Clear all teachers?");') clear
          li Rooms:
            span #{count.rooms}
            a(href='/manage/clear/rooms' onclick='return confirm("Clear all rooms?");') clear
          li Parses:
            span #{count.parses}
            a(href='/manage/clear/parses' onclick='return confirm("Clear all parses?");') clear
          li Subjects:
            span #{count.subjects}
            a(href='/manage/clear/subjects' onclick='return confirm("Clear all subjects?");') clear

      div.block
        h3 Log
        textarea(readonly) Some text will be here

      div.block
        h3 Messages
        div.msgs
          each message in messages
            - var msg = decodeURI(message.message)
            div.msg
              div.from= message.from
              div.contain= msg

