extends ../layouts/main

block customHead
  link(rel='stylesheet', href='/stylesheets/manage.css')

block content
  div.manage
    div.sidebar
      div.links
        ul
          li: a(href='/') Home
          li: a(href='/manage') Manage
          li: a(href='/manage/parse') Parse

    div.container
      h1= title

      div.block
        h3 Add

        div#error= error
        div.addparseform
          form#addparse(method='post' action='/manage/parse/add')
            input.text.long(name='link' placeholder='Input link' autocomplete='off' autofocus)
            input.button(type='submit' value='Add')
            input.text(name='description' placeholder='Input description' value='K1 2014')

            div.customname
              label(for='customname') Custom name:
              input#customname.text(name='customName' placeholder='Input custom name')
              select(name='group')
                each group in grouplist
                  option(value=group._id)=group.name

      div.block
        h3 Run staff parse
        div.addparseform
          form#runstaff(method='post' action='/manage/parse/staff')
            input.text.long(name='link' placeholder='Input link' autocomplete='off')
            select(name='building')
              each building in buildings
                option(value=building.id)= building.name
            input.button.small(type='submit' value='Run')

      div.block
        h3 List
        div.parselist
          ul
            each parse in parselist
              - var liClass = (parse.parsed) ? 'parsed' : ''
              li(class=liClass)
                div.del
                  a(href='/manage/parse/#{parse._id}') Del
                div.group=parse.group.name
                div.link
                  a(href='/manage/parse/#{parse._id}' title=parse.link) Run
                  i s:#{parse.startNum}
                  if parse.customName
                    i g:#{parse.customName}
                  i v:#{parse.version}
                div.clear
                  a(href='/manage/parse/#{parse._id}') Clear

                div.description=parse.description

block customFoot
  script(src='/js/libs/jquery-1.10.2.min.js')
  script(src='/js/manage_app.js')
