extends ./layouts/main

block customHead
  link(rel='stylesheet', href='/stylesheets/template.css')

block content
  header.top
    div.searchbox
      input.text(type='text' placeholder='Search...')

    nav.mainnav
      ul
        li: a.home(href='/' data-local)
        li: a.menu(href='/search' data-local)

  div.contentpusher

  div#content


  div.mainpage

    div.wrapper
      div.container
        h2 Schedule finder
        div.block Custom schedule of ICT-building [Beta]

    div.wrapper
      div.container
        h2 Quick links
        div.block.quicklinks
          a.navlink(href='/search' data-local) Find schedule

    div.wrapper
      div.container
        h2 How to use
        div.block
          h4 Basics
          div.subblock
            b Choose schedule
            div.info Click on any of two links on the top of the page and then choose your group or if you are looking for a teacher timetable choose teacher. To filter list start typing group name or teacher name. You can quickly access your teachers timetable by clicking on them in your schedule.
              i  Search by room is planned.

            b Choose week
            div.info To choose other week you can click on a wide button with week number or use quick links for previous and next weeks. Blue week selection shows current week and grey selection means week which you chose.

            b Select today schedule
            div.info After selecting your group schedule, you can access today schedule by clicking on links and then on today schedule link.

          h4 Save links
          div.subblock You can save link and access it at any time. You will always see your current week timetable.

          h4 Mistakes
          div.subblock This is not official timetable, therefore if you found some mistakes in schedule, please contact me as soon as possible in the form below.

    div.wrapper
      div.container
        h2: label(for='message') Contacts
        div.block If you have any suggestions or questions, please, contact me.
          div.contactform
            div.success#sent Thank you for texting me
            textarea.text#message(placeholder='Input your message')
            div#hiddenform
              input.text#replyto(type='text' placeholder='Reply to or at least your name')
              input.button#send(type='button' value='Send')

          div.subblock
            div.note If you want to use API to fetch schedule, also contact me using this form.

  div.schedule.clearfix
    article
      div.title: h2#scheduleTitle

      div.weekblock
        div#calendar.clearfix
          each month in calendar
            table
              thead
                tr
                  th(colspan='6') #{month.month}
                tr
                  th #
                  th Mo
                  th Tu
                  th We
                  th Th
                  th Fr
              tbody
                each week in month.dates
                  - var trClass = (week.curweek == 0) ? 'current' : ''
                  tr(class=trClass data-link='w#{week.week}')
                    th #{week.week}
                    each day in week.days
                      - var tdClass = (day.old > 0) ? 'old' : ''
                      td(class=tdClass) #{day.day}

        div.weekselector
          a.neighbourweek#prevweek(href='/' data-week='#{weeknum-1}' data-local) Prev
          a.weekcontent(href='/') Week
            span#weeknum(data-week='#{weeknum}' data-weeknow='#{weeknow}') #{weeknum}
          a.neighbourweek#nextweek(href='/' data-week='#{weeknum+1}' data-local) Next

      div#days

  div.unknown Keep calm and don't experiment with url



block customFoot
  script#errorTemplate(type='text/html')
    div.notfound <%= error %>

  script#weekNotFound(type='text/html')
    div.notfound Nothing found

  script#noDays(type='text/html')
    div.notfound No classes during this week

  script#searchPageTemplate(type='text/html')
    div.navwindow
      div.container
      div.bg

  script#searchSectionTemplate(type='text/html')
    section
      header: h2 <%= name %>
      div.content.clearfix
        ul

  script#searchItemTemplate(type='text/html')
    li: a(href!='<%= url %>' data-local) <%= name %>

  script#searchFilterTemplate(type='text/html')
    li
      input(id!='<%= id %>' type='checkbox' checked!='<%= checked %>')
      label(for!='<%= id %>') <%= name %>

  script#weekdayTemplate(type='text/html')
    div.block(class!='<%= (isToday(date)) ? "today" : "" %>')
      div.weekday <%= weekday.name %>
        span.date <%= date.day %> <%= getMonth(date.month) %>

      div.container
        <% if(subjects.length > 0) { %><% _.each(subjects, function (subject) { %>
        div.subject
          <% if(editable) { %>
          div.controlbar
            button.removelink(data-link!='<%= subject._id %>') Remove
          <% } %>

          div.time
            div.hour <%= getTime(subject.days) %>
            div.duration
              span(class!='dur-<%= getDur(subject.days) %>')
                i#duration <%= getDur(subject.days) %>
                u hour<% if(getDur(subject.days) > 1) { %>s<% } %>

          div.info
            div.inner
              div.name
                <% if(subject.rest) { %>
                div.resttext Break
                <% } else { %>
                a(href!='/subject/<%= toUrl(subject.name) %>' data-local) <%= subject.name %>
                <% } %>

              div.room <%= getRooms(subject.rooms) %>

              ul.teachers
                <% _.each(subject.teachers, function (teacher) { %>
                li: a(href!='/<%= toUrl(teacher.name) %>' data-local) <%= teacher.name %>
                <% }); %>

          ul.groups.clearfix
            <% _.each(subject.groups, function (group) { %>
            li: a(href!='/<%= toUrl(group.name) %>' data-local) <%= group.name %>
            <% }); %>

        <% }); %><% } else { %>
        div.noclasses No classes
        <% } if (editable) { %>
        div.addsubject: button Add
        <% } %>


  script(src='/js/builds/schedulepage.js' async)
  script(src='/js/libs/analytics.js' async)
